@import '@angular/material/prebuilt-themes/azure-blue.css';
/* Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Hide increment/decrement in Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide increment/decrement in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Implemented as ux to prevent user selection */
input[readonly] {
  cursor: not-allowed;
  opacity: 0.7;
}